{% extends "components/base.html" %}
{% load static %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-2">
		<div class="container-fluid justify-content-center">
			<button class="navbar-toggler justify-content-center bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon mx-5 "></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link disabled" current="true" href="#">Home</a>
                </li>
                <li class="nav-item ">
                    <a type="button" href="/accounts/profile" class="btn btn-primary ">Zur App 🚀</a>
                </li>
            </ul>
        </div>
		</div>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-xl">
            <figure class="figure text-center">
                <img src="{%static "img/NSW_Ambulance_Australia.png"  %}" alt="" srcset="" class="img-fluid rounded mx-auto d-block">
                <figcaption class="figure-caption">NSW Ambulance Australia von Helitak430 unter CC BY-SA 4.0</figcaption>
            </figure> 
        </div>
      <div class="col-xl p-7 container "> 
        <div class="text-center bg-secondary rounded p-6 ">
            <h1 class="p-3">Paramedic</h1>
            <p class="lead m-2 p-2">
                Die offene Alternative um Alarme und Nachrichten zeitsensitiv zu senden.
            </p>
	    </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md px-lg-4">
        <h1>
            Problem / Fragestellung
        </h1>
        <p>
            <ul>
                <li>geschlossene Ökosysteme in kritischer Infrastruktur</li>
                <li>nach einmaligem Einrichten entseht eine Abhängigkeit von einem Anbieter </li>
                <li>größe Kostenpunkte für freiwillige Organisationen(Freiwillige Feuerwehr oder Rettungsdienst)</li>
                <li>es wird ein Handy(aktuelles IOS/Android) vorrausgesetzt sonst keine Teilnahme</li>
            </ul>
        </p>
  </div>


{% endblock content %}